.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.table-row .position {
    width: 5%;
}
.table-row .image {
    width: 5%;
}
.table-row .image img {
    margin: 0;
}
.table-row .team {
    width: 80%;
}
.table-row .points {
    width: 10%;
}
.table-row.header {
    font-weight: bold;
}