.toolbar {
    padding: 10px 10px 10px 1.0875rem;
    color: black;
    background-color: #e6e6e6;
    margin-bottom: 1.45rem;
}

.toolbar .link, .toolbar .link:active {
    text-decoration: none;
    color: black;
}

.toolbar .link:hover {
    color: #96968d
}