.schedule-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.schedule-team {
    width: 30%;
    text-align: left;
}

.schedule-team:nth-child(1) {
    text-align: right;
}

.schedule-score {
    text-align: center;
    padding: 5px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}